*, *::before, *::after{
    box-sizing: border-box;
}
*{
    line-height: 1.6;
    font-family: Roboto;
    margin: 0;
    padding: 0;
    --themeDark: rgb(4, 31, 80);
    --themeLight: rgb(217, 217, 240);
    --transition: 250ms all ease-in-out;
    font-size: 102%;
}

body{
    width: 100%;
    margin: auto;
}
h1, h2, h3, h5, h6 {
    letter-spacing: 2px;
    word-spacing: 6px;
}
a{
    text-decoration: none;
    color: unset;
}
label, input, textarea{
    display: block;
    width: 100%;
    margin: auto;
    text-align: left;
    padding: 2px 0;
    font-size: 1em;
}
button{
    cursor: pointer;
}
details>.blog-summary, details>.update-summary, details>.delete-summary{
    background: var(--themeDark);
    color: var(--themeLight);
    transition: var(--transition);
}
details>.blog-summary::marker{
    content:"Read More";
}
details[open]>.blog-summary{
    background: var(--themeLight);
    color: var(--themeDark);
}
details[open] > .blog-summary::marker{
    content:"Read Less";
}
.update-summary::marker{
    content:"Update?";
}
.delete-summary::marker{
    content:"Delete?";
    
}
details[open]>.delete-summary::marker{
    content:"No";
    color: red;
}
/* details[open]>.update-summary::marker{
    content:"Yes"
} */
summary {
    cursor: pointer;
    padding:2px 4px;
    width: 120px;
    text-align: center;
    margin: 3px 0;
    font-size: .9em;
    transition: var(--transition);
}
summary:hover{
    background: var(--themeLight);
    color: var(--themeDark);
}
details[open]>summary{
    background: var(--themeLight);
    color: var(--themeDark);
}


p{
    padding: 6px 0;
}
ul, li{
    padding-left: 16px;
}
.app-wrapper{
    position: relative;
    width: 100%;
    margin: auto;
    min-height: 100vh;
    background: var(--themeLight);
}
.main-header{
    position: sticky;
    top: 0;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 6px;
    /* box-shadow: 0 1px 0 rgb(174, 183, 197); */
    background: var(--themeLight);
    color: var(--themeDark);
}
.auth-nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 6px ;
}
.auth-link{
    cursor: pointer;
    padding: 6px 0;
}
.auth-link:hover{
    color: darkblue;
    text-decoration: underline;
}
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
}
.masthead a{
    font-size: 1.1em;
}
.logo{
    height: 40px;
    width: 40px;
    padding: 4px;
    border: 1px solid white;
    transition: var(--transition);
}
.logo:hover{
    border-color: var(--themeDark);
}
.main-link{
    padding: 0 8px;
    border-right: 1px solid var(--themeDark);
    border-top-right-radius: 8px;
}

.main-link.active, .main-link:hover{
    color: blue;
    border-right-color: blue;
    text-decoration: underline;

}

/* Styles for create forms */
.form-title{
    text-align: center;
}

.form-container{
    position: absolute;
    top: -250px;
    left: 50%;
    transform: scale(0) ;
    width: 90%;
    max-width: 650px;
    margin: auto;
    z-index: 100;
    background:var(--themeLight);
    color: var(--themeDark);
    transition: 300ms all ease-in-out;
    padding: 20px;
    box-shadow: 0 0 2px gray;
    text-align: right;
}

.active{
    
    transform: scale(1) translateX(-50%) ;
}
.close-form{
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    color:red;
    padding: 2px;
    border: 1px solid red;
    transition: var(--transition);
}
.close-form:hover{
    border-color: darkred;
    color: darkred;
}

.auth-form-container{
    width: 95%;
    max-width: 650px;
    margin: auto;
    text-align: left;
    background: var(--themeLight);
    color: var(--themeDark);
}
.update-form-container{
    background: var(--themeLight);
    color: var(--themeDark);
    padding: 8px;
}
.auth-form-container form{
    margin: 20px auto;
    padding: 8px;
    box-shadow: 0 0 1px darkblue;
}
.form-container button, .auth-form-container button{
    font-size: .9em;
    background: var(--themeDark);
    color: var(--themeLight);
    padding:4px;
    margin: 4px 0;
    outline: none;
    border: none;
    transition: var(--transition);
}
.form-container button:hover, .auth-form-container button:hover{
    background: var(--themeLight);
    color: var(--themeDark);
}
/* Page styles */
.main-content{
    height: 100%;
    width: 100%;
    max-width: 1000px;
    /* box-shadow: 0 0 1px rgb(44, 43, 43); */
    margin: 20px auto;
    padding: 20px;
    transition: all 200ms ease-in-out;
}

.page-title{
    text-align: center;
    padding: 8px 0;
    font-size: 1.5em;
}

/* Styling blogs */

.blog-container{
    padding: 4px;
}
.blog, .item{
    padding: 20px;
    margin: 4px 0;
    line-height: 1.6;
    border-bottom: 1px solid rgba(0, 0, 0, 0.315);
    background: white;
    transition: all ease-in-out 200ms;
}
.blog>p, .item >p{
    padding: 4px;
}

.blog-title, .project-title{
    letter-spacing: 2px;
    word-spacing: 6px;
    
}
.read-full-link{
    text-decoration: underline;
    color: darkblue;
}
.read-full-link:hover{
    text-decoration: none;
    color: blue;
}
.posted-date{
    font-size: .9em;
    color: rgba(0, 0, 0, 0.527);
}
/* Comment form styles */

.comment-form-container{
    width: 100%;
    max-width: 420px;
    margin: 16px 0 16px 8px;
}
.add-comment-button{
    cursor: pointer;
    width: 140px;
    height: 40px;
    font-size: 1em;
}

footer{
    position: relative;
    padding: 20px 0;
    text-align: center;
    font-size: .9em;
    width: 100%;
    margin: auto;
}
.fa{
    display: inline-block;
    padding: 8px;
    margin: 0 8px;
    font-size: 1.2em;
    transition: var(--transition);
    border: 1px solid transparent;
}
.fa:hover{
    color: darkblue;
    border-color: darkblue;
}



/* Home Page Styles */

.home-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
}

.profile-picture{
    width: 100%;
    margin: auto;
    padding: 8px;
}
.section-title, .page-title{
    font-size: 1.1em;
    padding-bottom: 8px;
    text-transform: uppercase;
    word-spacing: 6px;
    letter-spacing: 2px;
    font-weight: 300;
}
.section-title::after{
    content:"";
    display: block;
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.322);
}

@media(max-width:650px) {
    .main-content{
        padding: 4px;
    }
    .blog, .item{
        padding: 4px;
    }
    .home-page{
        grid-template-columns: 1fr;
    }
}