<article class="form-container">
    <span class="close-form">Close X</span>
    <h3 class="form-title">Add Education Qualification</h3>
    <form action="/education/create" class="create-form" method="POST">
        <div class="form-item">
            <label for="degree">Degree</label>
            <input type="text" id="degree" name="degree" required>
        </div>
        <div class="form-item">
            <label for="school">School</label>
            <input type="text" id="school" name="school" required>
        </div>
        <div class="form-item">
            <label for="department">Department</label>
            <input type="text" id="department" name="department" required>
        </div>
        <div class="form-item">
            <label for="thesis">Thesis</label>
            <input type="text" id="thesis" name="thesis" required>
        </div>
        <div class="form-item">
            <label for="year_finished">Year Finished</label>
            <input type="text" id="year_finished" name="year_finished" required>
        </div>
        <div class="form-item">
            <button class="submit-button">Add Educational Qualification</button>
        </div>
    </form>
</article>